<!-- your html code here -->
<!--Andres Esquivel Giner-->
<div class="container-fluid bg-white p-3">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dignissimos quaerat veritatis tempora
                quasi
                tenetur? Facilis mollitia minus incidunt consequatur doloribus. Enim porro eius in nam tenetur.
                Laudantium
                aspernatur suscipit perspiciatis aperiam debitis obcaecati pariatur, dolorem unde dolore. Accusamus
                omnis error
                non,
                optio in cupiditate nobis quas rem suscipit ad!</p>
        </div>
    </div>
    <form class="row justify-content-center">

        <div class="col-6 bg-light border rounded mb-5">
            <div class="mb-3 row pt-3 d-flex justify-content-end">
                <label for="exampleFormControlInput1" class="col-2 col-form-label d-flex justify-content-end"><b>Your
                        E-mail</b></label>
                <div class="col-9">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-end">
                <label for="exampleFormControlTextarea1" class="col-2 col-form-label d-flex justify-content-end"><b>Your
                        Message</b></label>
                <div class="col-9">
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                        placeholder="Please enter your message here..." rows="4"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-end pb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>