<!-- Elaborado por Vicente -->
<div class="container-fluid d-flex justify-content-center bg-light pt-5 pb-5">
    <div class="row m-auto align-items-center">
        <div class="col-9 mb-5">
<h1>
    This First Heading Will Catch Your Eye
</h1>
<p class="fs-3">Donec ullamcorper nulla non auctor fringilla. Vestibulum id ligula porta felis <br>
euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br>
consectetur. Fusce dapibus, tellus ac cursus commmodo.</p>
        </div>
        <div class="col-3">
<img src="/website/assets/img/1.jpg" alt="breaking-bad" class="rounded-circle" width="400px" height="400px">
        </div>
    </div>


</div>