<!-- Ruben Yanes -->
<section class="py-4 bg-light">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold mb-3">Breaking bad Projects</h1>
        <p class="lead text-secondary mb-5" style="max-width: 800px;">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="ratio ratio-4x3 bg-secondary rounded overflow-hidden shadow-sm">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh_amOg3Da-odx9X97aYyFq6iTH3QOAsN4EwVOkszCzYF6uKF-CSphETgXnWPWYF8LnEU&usqp=CAU" alt="WW" class="img-portfolio rounded">
                </div>
                <h2 class="h5 text-primary mt-3 fw-bold">Heinsenberg</h2>
                <p class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                    odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 mb-4">
                <div class="ratio ratio-4x3 bg-secondary rounded overflow-hidden shadow-sm">
                    <img src="https://static.wikia.nocookie.net/breakingbad/images/0/05/Season_2_-_Jesse.jpg/revision/latest/scale-to-width/360?cb=20090617154632" alt="jesse" class="img-portfolio rounded">
                </div>
                <h2 class="h5 text-primary mt-3 fw-bold">Pikman fire</h2>
                <p class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                    odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 mb-4">
                <div class="ratio ratio-4x3 bg-secondary rounded overflow-hidden shadow-sm">
                    <img src="https://upload.wikimedia.org/wikipedia/en/3/34/Jimmy_McGill_BCS_S3.png" alt="Saul Goodman" class="img-portfolio rounded">
                </div>
                <h2 class="h5 text-primary mt-3 fw-bold">Better call me</h2>
                <p class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                    odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>

    </div>
</section>