<!-- Desarrollado por vicenteagt -->
 <div class="container-fluid d-flex justify-content-center pt-5 pb-5">
    <div class="row m-auto align-items-center">
        <div class="col-3 me-auto">
<img src="/website/assets/img/2.jpg" alt="breaking-bad" class="rounded-circle" width="400px" height="400px">
        </div>
        <div class="col-9 ps-4 pb-5">
            <div class="ps-5">
<h1>
    The Second Heading Is Pretty Cool Too.
</h1>
<p class="fs-3">Donec ullamcorper nulla non auctor fringilla. Vestibulum id ligula porta felis <br>
euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur, <br>
Fusce dapibus, tellus ac cursus commmodo.</p>
</div>
        </div>
    </div>


</div>

