<!-- Desarrollado por vicenteagt -->
 <div class="container-fluid d-flex justify-content-center pt-5 pb-5">
    <div class="row m-auto align-items-center">
        <div class="col-3 col-sm-3 col-lg-5 col-xl-4 mb-5 mb-sm-5 mb-lg-0">
<img src="/website/assets/img/2.jpg" alt="breaking-bad" class="rounded-circle" width="380px" height="380px">
        </div>
        <div class="col-10 col-sm-10 col-lg-7 col-xl-8 mb-5 m-auto pb-5">
            <div class="ms-xl-2">
<h1>
    The Second Heading Is Pretty Cool Too.
</h1>
<p class="fs-3">Donec ullamcorper nulla non auctor fringilla. Vestibulum id ligula porta felis <br>
euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur, <br>
Fusce dapibus, tellus ac cursus commmodo.</p>
</div>
        </div>
    </div>


</div>

